<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controle.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpregadoControle</servlet-name>
        <servlet-class>Controle.EmpregadoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControle</servlet-name>
        <servlet-class>Controle.ClienteControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoControle</servlet-name>
        <servlet-class>Controle.ProdutoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaControle</servlet-name>
        <servlet-class>Controle.VendaControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardControle</servlet-name>
        <servlet-class>Controle.DashboardControle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpregadoControle</servlet-name>
        <url-pattern>/EmpregadoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControle</servlet-name>
        <url-pattern>/ClienteControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoControle</servlet-name>
        <url-pattern>/ProdutoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaControle</servlet-name>
        <url-pattern>/VendaControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardControle</servlet-name>
        <url-pattern>/DashboardControle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
